* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #ff900e1a;
}

/* navbar style here */
/* ................. */
.navbar {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    justify-content: space-between;

}

.navbar-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
}

.list li a {
    text-decoration: none;
    color: #424242;
}


/* banner styel here */
/* ................. */
.banner {
    padding-bottom: 30px;
}

.banner-textbox {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 30px;
    color: #131313;
}

.description {
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 5px;
    border: none;
    padding: 16px 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.banner-imgbox {
    width: 1200px;
    margin: 0 auto
}

.banner-imgbox img {
    width: 100%;
    border-radius: 8px;
}


/* section Our feature style here */
/* .............................. */
.our-feature {
    width: 1100px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.gallary-img {
    width: 342px;
    height: 342px;
}

.gallary-img img {
    width: 100%;
}

.title-secondary {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 22px;
}

.title-start {
    font-weight: 500;
    color: #727272;
}

.title-finale {
    color: #FF900E;
}


/* section Feature explore style here */
/* .................................. */
.feature-explore {
    width: 1200px;
    margin: 130px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
}

.explore-title {
    position: relative;
    padding-left: 30px;
}

.title-secondary__creative::before {
    content: '';
    position: absolute;
    background-color: #FF900E;
    width: 5px;
    height: 100%;
    bottom: 0;
    left: 0;
}

.feature-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature {
    box-shadow: 5px 10px 10px rgba(219, 217, 217, 0.324);
    padding: 0 20px;
}

.explore-imgbox {
    width: 700px;
    text-align: end;
    position: relative;
}

.explore-imgbox img {
    width: 80%;

}

.btn-secondary {
    background: #FF900E;
    border-radius: 5px;
    border: none;
    padding: 16px 30px;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
    bottom: -35px;
}

.btn-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.btn-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/* section Facts style here */
/* ........................ */
.facts {
    width: 1200px;
    margin: 100px auto;
}

.facts-texbox {
    margin-bottom: 90px;
}

.facts-rewards {
    display: flex;
    justify-content: space-evenly;

}

.rewards-details {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px 50px 20px;
    transition: all 0.4s;
}

.rewards-details:hover {
    transform: scale(1.1);
    box-shadow: 2px 8px 10px rgba(194, 191, 191, 0.324);

}

.title-secondary_number {
    color: #424242;
    margin-bottom: 5px;
}


/* section our sponsors style here */
/* ............................... */
.our-sponsors {
    width: 1200px;
    margin: 80px auto;
}

.sponsors-textbox {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor-icon img {
    filter: brightness(0);
    opacity: 0.7;
}

/* section contact us style here */
/* ............................. */
.contact-us {
    width: 1200px;
    margin: 130px auto;
    background-image: linear-gradient(#2577bf 0%, rgba(0, 95, 172, 0) 100%), url(./images/bg-image.jpg);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.contact-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contact-title-secondary {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.contact-title-tertiary {
    color: #FF900E;
}

.contact-form input,
textarea {
    width: 80%;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 15px;


}



/* footer style here */
/* ................. */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 130px;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;

}


/* Responsive style here */
/* ..................... */
@media only screen and (max-width:480px) {
    .navbar {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .navbar-title {
        font-size: 26px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    /* banner styel here */
    /* ................. */

    .banner-textbox {
        width: 75%;
    }

    .banner-title {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-imgbox {
        width: 90vw;
    }

    /* section Our feature style here */
    /* .............................. */
    .our-feature {
        max-width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .feature-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .title-secondary {
        font-size: 28px;
    }


    /* section Feature explore style here */
    /* .................................. */
    .feature-explore {
        max-width: 90vw;
        display: grid;
        grid-template-columns: 1fr;
    }


    .feature-details {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .explore-imgbox {
        width: 90vw;
    }

    /* .btn-secondary {
        left: 2px;
        bottom: -100px;
    } */
    .btn-secondary {
        padding: 12px 24px;
        left: 5px;
        bottom: -50px;
    }

    .btn-title {
        font-size: 45px;
        line-height: 35px;
    }


    /* section Facts style here */
    /* ........................ */
    .facts {
        max-width: 90vw;
        margin-top: 190px;
    }

    .facts-texbox {
        margin-bottom: 50px;
    }

    .facts-rewards {
        display: flex;
        flex-direction: column;
        gap: 40px;

    }


    /* Mobile responsive our sponsors section style here */
    /* ................................................. */
    .our-sponsors {
        max-width: 90vw;
    }

    .sponsors {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sponsor-icon img {
        width: 150px;

    }

    /* Mobile responsive contact us section style here */
    /* ............................................... */
    .contact-us {
        max-width: 90vw;
    }

    .contact-container {
        width: 100%;
    }

    .contact-title-secondary {
        font-size: 30px;
        font-weight: 500;
    }


    /* Responsive footer style here */
    /* ................. */
    .footer {
        text-align: center;
        max-width: 90vw;
        margin-bottom: 30px;
        padding: 15px;
    }


}