* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.header {
    background: #ff900e1a;
}

/* navbar style here */
/* ................. */
.navbar {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    justify-content: space-between;

}

.navbar-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
}

.list li a {
    text-decoration: none;
    color: #424242;
}


/* banner styel here */
/* ................. */
.banner {
    padding-bottom: 30px;
}

.banner-textbox {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 30px;
    color: #131313;
}

.description {
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 5px;
    border: none;
    padding: 16px 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.banner-imgbox {
    width: 1200px;
    margin: 0 auto
}

.banner-imgbox img {
    width: 100%;
    border-radius: 8px;
}


/* section Our feature style here */
/* .............................. */
.our-feature {
    width: 1100px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.gallary-img {
    width: 342px;
    height: 342px;
}

.gallary-img img {
    width: 100%;
}

.title-secondary {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 22px;
}

.title-start {
    font-weight: 500;
    color: #727272;
}

.title-finale {
    color: #FF900E;
}


/* section Feature explore style here */
/* .................................. */
.feature-explore {
    width: 1200px;
    margin: 130px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
}

.explore-title {
    position: relative;
    padding-left: 30px;
}

.title-secondary__creative::before {
    content: '';
    position: absolute;
    background-color: #FF900E;
    width: 5px;
    height: 100%;
    bottom: 0;
    left: 0;
}

.feature-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature {
    box-shadow: 5px 10px 10px rgba(219, 217, 217, 0.324);
    padding: 0 20px;
}

.explore-imgbox {
    width: 700px;
    text-align: end;
    position: relative;
}

.explore-imgbox img {
    width: 80%;

}

.btn-secondary {
    background: #FF900E;
    border-radius: 5px;
    border: none;
    padding: 16px 30px;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
    bottom: -35px;
}

.btn-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.btn-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/* section Facts style here */
/* ........................ */
.facts {
    width: 1200px;
    margin: 100px auto;
}

.facts-texbox {
    margin-bottom: 90px;
}

.facts-rewards {
    display: flex;
    justify-content: space-evenly;

}

.rewards-details {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px 50px 20px;
}

.title-secondary_number {
    color: #424242;
    margin-bottom: 5px;
}


/* section our sponsors style here */
/* ............................... */
.our-sponsors {
    width: 1200px;
    margin: 80px auto;
}

.sponsors-textbox {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer style here */
/* ................. */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100px;
    margin: 150px auto;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}